# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
retorno_venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Mypy / type checkers
.mypy_cache/

# Temporary files
*.tmp
*.swp

# Ignore local docs folder if accidentally inside repo
retorno_docs/
